name: pipeline

on: [push, pull_request]

permissions:
    id-token: write
    contents: read

env:
    GITHUB_SHA: ${{ github.sha }}

jobs:
    verify-connector-configs:
        if: github.event_name == 'pull_request'
        runs-on: ubuntu-24.04
        concurrency:
            group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
            cancel-in-progress: ${{ github.event_name == 'pull_request' }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Use Node.js 22.14.0
              uses: actions/setup-node@v4
              with:
                  node-version: 22.14.0
            - name: Install dependencies
              run: npm ci
            - name: Build connector configs
              run: npm run build
